.contacts-section {
    background-image: url('/contacts-section.png');
    background-size: cover;
    background-position: center;
    height: 40dvh;
}

.contacts-content {
    background-color: rgba(177, 138, 85, 0.8);
}

.contacts-title, .contacts-subtitle {
    color: var(--white-color);
}

.contacts-subtitle {
    font-size: 1.2em;
}