.booking-form-input {
    background-color: var(--white-color);
    outline: none;
    border: 2px solid var(--primary);
}

.booking-form-input::placeholder {
    color: var(--text-primary);
}

.review-text, .review-price {
    font-size: 1.2em;
}

.review-booking-description {
    font-size: 1.2em;
}