.master-guest-container,
.address-container,
.document-container,
.guests-container,
.payment-container {
    background: rgba(177, 138, 85, 0.5);
}

.review-container {
    border: 1px solid var(--primary);
}

.input-container label {
    font-size: 1.2em;
}

.booking-form-input {
    background-color: var(--white-color);
    outline: none;
    border: 2px solid var(--primary);
    font-size: 1.1em;
}

.booking-form-input::placeholder {
    color: var(--text-primary);
}

.review-text, .review-price {
    font-size: 1.2em;
}

.review-booking-description {
    font-size: 1.2em;
}

.review-table {
    width: 80%;
}

.payment-review {
    font-size: 1.2em;
}